/* ===============================
   BUSINESS SECTION
   =============================== */
.business-section {
  background-color: #004A8A;
  padding: 30px 25px;
 
  color: white;
  font-family: Arial, sans-serif;
  min-height: 650px;
  
}

/* ===============================
   BUSINESS TITLE
   =============================== */
.business-title {
  font-weight: 1000;
  font-size: 50px;
  margin-bottom: 80px;
  line-height: 1.3;
  margin-left: 115px;

  /* animation start state */
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.9s ease-out;
}

.business-title.animate {
  opacity: 1;
  transform: translateX(0);
}

.business-title .highlight {
  color: #fca311;
}

/* ===============================
   BUSINESS CARDS
   =============================== */
.business-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.business-card {
  background-color: #ffffff;
  color: #212529;
  border-radius: 10px;
  padding: 30px 25px;
  width: 300px;
  height: 350px;
  
  box-sizing: border-box;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  text-align: center;
 

  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect only */
.business-card:hover {
  transform: translateY(-5px);
  background-color: #0F1544;
  color: #ffffff;
}

.business-card:hover .card-title,
.business-card:hover p {
  color: #ffffff;
}

/* ===============================
   CARD CONTENT
   =============================== */
.business-img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.card-title {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 20px;
  color: #335a82;
}

.business-card p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #6c757d;
}
