.popup-overlay1 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-overlay1.active {
  display: flex;
}

.popup1 {
  width: 420px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  animation: popup1 1s ease-in-out;
}

@keyframes popup1 {
  from { opacity: 0; transform: scale(.9); }
  to { opacity: 1; transform: scale(1); }
}

.popup1 input,
.popup1 select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.phone-row1 {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.phone-row1 span {
  padding: 12px;
  background: #f2f2f2;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
}

.row1 {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

/* Upload on next line */
.upload1 {
  width: 100%;
  padding: 12px;
  border: 1px dashed #007bff;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 12px;
}

.actions1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
   margin-top: 20px;
}

.actions1 button {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.actions1 button:last-child {
  background: #007bff;
  color: #fff;
}

.close1 {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 22px;
  cursor: pointer;
}
